{% extends 'base.html' %} {% block content %}

<a href="{% url 'gear' %}"><h5>< Back to All Gear</h5></a>
<div class="card index-card">
	<div class="card-content">
		<span class="card-title trip-title">{{ gear.name }}</span>
		<p><span class="thick">What's it for?:</span> {{ gear.use }}</p>
		<p><span class="thick">Size:</span> {{ gear.size }}</p>
		<p><span class="thick">Brand: </span>{{ gear.brand }}</p>
		<p><span class="thick">Model: </span>{{ gear.model }}</p>
		<p><span class="thick">Do you need it?:</span> {{ gear.necessary }}</p>
	</div>
	<div class="card-action">
		<a href="{% url 'gear_update' gear.id %}">Edit</a>
		<a href="{% url 'gear_delete' gear.id %}">Delete</a>
	</div>
</div>
{% endblock %}
