{% extends 'base.html' %} {% block content %}

<h1>Join the Adventure</h1>

{% if error %}
<h4 class="red-text">{{error}}</h4>
{% endif %}
<form
	action="{% url 'signup' %}"
	method="POST"
	class="signup-form">
	{% csrf_token %} {{ form.as_p }}
	<input
		type="submit"
		class="btn tooltipped"
		data-position="right"
		data-tooltip="I am a tooltip"
		value="Sign Up" />
</form>
<script>
	$(document).ready(function () {
		$('.tooltipped').hover(function () {
			$(this).tooltipped();
		});
	});
</script>
{% endblock %}
