{% load static %} {% block additional_styles %}
<style>
	body {
		background-image: url(/static/bikepack.jpg);
		background-size: cover;
		background-position: center;
		display: flex;
	}
	main {
		display: flex !important;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
</style>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="icon"
			type="image/x-icon"
			href="/static/favicon.png" />
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<title>Routr - Adventure Planner</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/style.css' %}" />
	</head>
	<body>
		<main class="container home center">
			{% block content %}
			<h1 class="thick welcome">Welcome</h1>
			<h2 class="text-shadow routr-yellow">Routr helps you plan adventures.</h2>
			<h4 class="text-shadow">
				Routr is here to help you plan upcoming outdoor adventures by giving you
				a place to organize the details of your trip and make a list of gear to
				bring. Get started by signing up and adding a trip!
			</h4>
			<br /><br />
			<a href="/about"
				><button class="thick btn welcome-btn">Let's Take A Trip</button></a
			>

			{% endblock %}
		</main>
	</body>
	<footer>
		<p class="footer"></p>
	</footer>
</html>
