@import url("https://use.typekit.net/lvx1gyb.css");

body {
    font-family: basic-sans, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(/static/bikepack.jpg);
    background-size: cover;
    background-position: center;
  }
h1{
  letter-spacing: -.1rem;
}
  main {
    flex: 1 0 auto;
  }
  .btn{
    background-color: rgb(235, 142, 22);
  }
  .btn:hover{
    background-color: rgb(181, 109, 16);
  }
  .nav-wrapper{
    background-color: dodgerblue;
  }
  .page-footer {
    padding-top: 0;
    text-align: right;
    background-color: dodgerblue;
  }
  .card{
    border: 12px solid rgb(10, 10, 10)
  }