@import url("https://use.typekit.net/lvx1gyb.css");

body {
    font-family: basic-sans, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color:rgb(81, 53, 24);
  }
:where(h1,h2,h3, h4,h5){
  color:rgb(247, 247, 247);
}
h1{
  letter-spacing: -.1rem;
}
main {
  flex: 1 0 auto;
}
nav .brand-logo{
  font-size: 3.2rem;
  font-weight: 700  ;
}
a{
  color:rgb(235, 142, 22);
  transition: ease 260ms;
}
a:hover{
  color: rgb(30, 144, 255);
  transition: ease 260ms;
}
form{
  background-color: rgb(255, 255, 255);
  border: 12px solid rgb(23, 21, 20);
  padding: 24px 24px;
}
footer{
  bottom: 0;
  position: fixed;
  width: 100vw;
}
em{
  font-weight: 400;
  font-size: 2.2rem;
}
.photo{
  background-color: rgb(235, 142, 22);
  border-radius: 6px 6px;
}
.borderless-form{
  border: none;
  border-radius: 6px 6px;
  padding: 0 0;
  margin: 0 0;
}
.welcome{
  font-size: 6rem;
  color: rgb(247, 247, 247);
  text-shadow: 2px 2px 4px rgb(23, 21, 20);
}
.welcome-btn{
  padding: 12px 32px;
  height: 60px;
  font-family: 'basic sans';
  font-size: 1.5rem;
  font-style: italic;
}
.btn{
  background-color: rgb(235, 142, 22);
}
.btn:hover{
  background-color: rgb(181, 109, 16);
}
.nav-wrapper{
  background-color: rgb(235, 142, 22);
}
.page-footer {
  padding: 12px 16px;
  text-align: right;
  background-color: rgb(235, 142, 22);
  box-shadow: 2px -2px 3px rgba(23, 21, 20, .4);
}
.card{
  border: 12px solid rgb(23, 21, 20);
}
.index-card{
  padding: 12px 16px;
}
.card-panel{
  background-color: rgb(235, 142, 22);
  box-shadow: none;
}
.card:hover{
  border: 12px solid rgb(23, 21, 20);
  box-shadow: 12px 12px 0 rgb(235, 142, 22);
}
.brand-logo{
    margin-left: 32px;
  }
.row .col img{
  padding: 0 0;
  max-height: 320px;
  min-height: 120px;
}
.card .card-title.trip-title{
  font-size: 2.6rem;
  font-weight: 700;
}
.thick{
  font-weight: 700;
}
.sub-title{
  color:rgb(235, 142, 22);
  font-size: 2.6rem;
}
.sub-title{
  color: rgb(247, 247, 247);
  font-size: 2.2rem;
}
.text-shadow{
  text-shadow: 2px 2px 3px rgba(23, 21, 20, 1);
}
.box-shadow{
  box-shadow: 2px 2px 3px rgba(23, 21, 20, 1);
}
.helptext{
  display: none;
}
.card .card-action {
  padding: 0 0;
}
.mx2{
  margin: 0 12px;
}
.card .p0{
  padding: none;
}
.routr-yellow{
  color: rgb(235, 142, 22);
  background-color: transparent;
}
.full-width{
  width: 100%
}
.text-black{
  color:rgb(23, 21, 20)
}
input[type=file]{
  font-size: 26px;
}
input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgb(235, 142, 22);
  -webkit-box-shadow: 0 1px 0 0 rgb(235, 142, 22);
  box-shadow: 0 1px 0 0 rgb(235, 142, 22);
}
.upload{
  height: 36px;
}
.rounded{
  background-image: url('/static/bikepacking-white-rim-20.jpg');
  height: 340px;
  width: 340px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}