{% extends 'base.html' %} {% block content %}

<a href="{% url 'index' %}"><h5>< Back to All Trips</h5></a>

<div class="row">
	<div class="col s12">
		<div class="card index-card">
			<div class="card-content">
				<span class="card-title trip-title">{{ trip.name }}</span>
				<p><span class="thick">Mode of travel</span>: {{ trip.mode }}</p>
				<p><span class="thick">Distance</span>: {{ trip.distance }}</p>
				<p><span class="thick">Nights</span>: {{ trip.nights }}</p>
				<p><span class="thick">Start</span>: {{ trip.start }}</p>
				<p><span class="thick">End</span>: {{ trip.end }}</p>
			</div>
			<div class="card-action">
				<a href="{% url 'trip_update' trip.id %}">Edit</a>
				<a href="{% url 'trip_delete' trip.id %}">Delete</a>
			</div>
		</div>
	</div>
</div>
<div class="row photo">
	<div class="col s12">
		<div class="row s12">
		{% for photo in trip.photo_set.all %}
			<img
				class="col s4 detail-img"
				src="{{ photo.url}}"
				alt="{{ trip.name }}" />
			{% empty %}
			<div class="card-panel center col s12"><h4>Just Imagine It...</h4><h5>or add some photos below!</h5>
			</div>
			{% endfor%}
		</div>

	</div>
</div>
</div>
<div class="">
	<div class="card-panel photo">
		<form
			class="borderless-form upload"
			action="{% url 'add_photo' trip.id%}"
			method="POST"
			enctype="multipart/form-data">
			{% csrf_token %}
			<input
				class="file-btn"
				type="file"
				name="photo-file" />
			<input
				type="submit"
				value="Add Photo"
				class="btn right blue" />
		</form>
	</div>
</div>
<hr />
<div class="row">
	<div class="col m6">
		<h3>{{ trip.name }}'s Gear List</h3>
		{% if trip.gear.count %} {% for gear in trip.gear.all %}
		<div class="card p0">
			<div class="card-content center">
				<span class="card-title">
					<span class="thick">{{gear.name}}</span><br>
					{{ gear.size }} {{gear.model}} {{ gear.name.lower }} made by {{gear.brand}} for {{gear.use}}
				</span>
			</div>
			<div class="card-action center">
					<form
					class="borderless-form"	
					action="{% url 'assoc_trip' trip.id gear.id %}"
						method="POST">
						{% csrf_token %}
						<button
						class="full-width btn"
							type="submit"
							class="btn">
							Not on this trip!
						</button>
					</form>	
				</div>
		</div>
		{% endfor %} {% else %}
		<h5>No gear added to this trip yet</h5>
		{% endif %}
	</div>
	<div class="col s6">
		<h3>Available Gear</h3>
		{% if gear.count %} {% for gear in gear.all %}
		<div class="card p0">
			<div class="card-content center">
				<span class="card-title"><span class="thick">{{ gear.brand }}</span> {{gear.size}} {{gear.name}} </span>
			</div>
			<div class="card-action">
				<form
				class="borderless-form"	
				action="{% url 'assoc_gear' trip.id gear.id %}"
					method="POST">
					{% csrf_token %}
					<button
						class="full-width btn"
						type="submit"
						class="btn center">
						Bring it along!
					</button>
				</form>
			</div>
		</div>
		{% endfor %} {% else %}
		<h5>That's your whole kit!</h5>
		{% endif %}
		<a href="{% url 'gear_create' %}"><button class="btn">Add More Gear</button></a>
	</div>
</div>
{% endblock %}
