{% extends 'base.html' %} {% block content %}

<h1 class="thick">Your Trips</h1>
<a href="{% url 'gear_create' %}"><button class="btn">Add your Gear</button></a>
<div class="row">
	{% for trip in trips %}
	<div class="col s6">
		<div class="card">
			<a href="{% url 'detail' trip.id %}">
				<div class="card-content">
					<span class="card-title trip-title">{{ trip.name }}</span>
					<p class="text-black">
						<span class="thick">Mode of travel: </span>{{ trip.mode }}
					</p>
					<p class="text-black">
						<span class="thick">Distance: </span>{{ trip.distance }}
					</p>
					<p class="text-black">
						<span class="thick">Nights:</span> {{ trip.nights }}
					</p>
					<p class="text-black">
						<span class="thick">Start:</span> {{ trip.start }}
					</p>
					<p class="text-black">
						<span class="thick">End:</span> {{ trip.end }}
					</p>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
