{% extends 'base.html' %} {% block content %}

<h1>Your Trips</h1>
<a href="{% url 'gear_create' %}"><button class="btn">Add your Gear</button></a>
<div class="row">
	{% for trip in trips %}
	<div class="col s6">
		<div class="card">
			<a href="{% url 'detail' trip.id %}">
				<div class="card-content">
					<img src="{{photo.url}}" />
					<span class="card-title trip-title">{{ trip.name }}</span>
					<p>Mode of travel: {{ trip.mode }}</p>
					<p>Distance: {{ trip.distance }}</p>
					<p>Nights: {{ trip.nights }}</p>
					<p>Start: {{ trip.start }}</p>
					<p>End: {{ trip.end }}</p>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
