{% extends 'base.html' %} {% block content %} {% load static %}
<h1>About Routr</h1>
<h3>Your Adventure Planner</h3>
<hr />
<h4>
	Routr is here to help you plan upcoming outdoor adventures by giving you a
	place to organize the details of your trip and make a list of gear to bring.
</h4>
<a href="{% url 'trip_create' %}"
	><button class="btn">Start Planning Your Trip</button></a
>
<a
	class="right"
	href="{% url 'gear_create' %}"
	><button class="btn">Add your Gear</button></a
><br /><br />
<img
	src="{% static 'bikepack.jpg' %}"
	alt="My image"
	width="100%" />
{% endblock %}
