{% extends 'base.html' %} {% block content %} {% load static %}
<style>
	main {
		display: flex !important;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
</style>
<div class="rounded"></div>
<div class="row">
	<div class="col sm6">
		<h2 class="thick">
			About Routr
			<span class="sub-title routr-yellow">- Your Adventure Planner</span>
		</h2>
	</div>
</div>
<div class="center">
	<a href="{% url 'login' %}"><button class="btn mx2">Login</button></a>
	<a href="{% url 'signup' %}"> <button class="btn mx2">Sign Up</button></a>
</div>
<h4>
	Routr is here to help you plan upcoming outdoor adventures by giving you a
	place to organize the details of your trip and make a list of gear to bring.
</h4>
{% endblock %}
