{% load static %} {% block additional_styles %}
<style>
	body {
		background: linear-gradient(-160deg, #2d211dbe, #413732e1, #181717cc),
			url(/static/grain-1.png);
		background-size: cover;
		background-position: center;
	}
</style>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<title>Routr - Adventure Planner</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'css/style.css' %}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	</head>
	<body>
		<header class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<ul>
						<li>
							<a
								href="/"
								class="left brand-logo"
								>Routr</a
							>
						</li>
					</ul>
					<ul class="right">
						<li><a href="{% url 'about' %}">About</a></li>
						{% if user.is_authenticated %}
						<li><a href="{% url 'trip_create' %}">Take a Trip</a></li>
						<li><a href="{% url 'index' %}">View My Trips</a></li>
						<li><a href="{% url 'gear' %}">View my Gear</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
						{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'signup' %}">Sign Up</a></li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<main class="container home">{% block content %} {% endblock %}</main>
		<footer class="page-footer">
			<div class="right">© 2023 Routr - Adventure Planner</div>
		</footer>
	</body>
</html>
